<div class="col-md-3"></div>
<div class="col-md-6">
	<p>You searched for <%= @q.gsub("%","") %>, here are your results:</p><br>
	<% @results.each do |result| %>
		<%= link_to "#{result.handle}", user_path(result) if result.class == User %><br>
		<% if result.class == Post %>
			<p>Post: "<%= result.post_content %>"<br>post_author: <%= link_to "#{result.user.handle}", user_path(result.user) %></p>
		<% end %>
	<% end %>
</div>