<div class="col-md-3"></div>
<div class="col-md-6">

<% if current_user != nil %>
	<%= form_for @post do |f| %>
		<%= f.text_field :post_content %>
		<%= f.submit %>
	<%end %>
<% end %>
<br>
<div id="posts">
	<% @posts.each do |post|%>
		<%= render "show_post", :post => post %>
	<% end %>
	</div>
</div>
