// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#comment_comment_content {
	height: 3.3em;
	width: 86%;
	word-break: break-word;
	padding-bottom: 0;
	vertical-align: top;
	padding-left: 1em;
	margin-right: 0.5em;
}
