.post_content {
	font-size: 1.4em;
}
.post_div {
	padding: 1em;
	background-color: rgb(231,236,238);
	margin-bottom: 1em;
	border-style: solid;
	border-color: rgb(212,221,232);
	border-radius: 0.25em;
}

#post_post_content {
	height: 3.3em;
	width: 85.3333%;
	word-break: break-word;
	padding-bottom: 0;
	vertical-align: top;
	padding-left: 1em;
	margin-right: 0.5em;
}
.btn-primary {
	height: 49px;
	
}