.handle{
  text-align: center;
  font-size: 40pt;
  font-weight: bold;
}

.username{
  text-align: center;
  font-size: 30pt;
  font-weight: lighter;
}

.circular {
  width: 250px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border-width: 8pt;
  border-color: #18bc9c;
  display: block;
  border-style: solid;
}

.table{
  margin: 0px;
  padding: 0px;
  text-align: center;
  /*border-style: solid;*/
  color: #18bc9c;
}

.follow_data{
  width: 100%;
  font-size: 30pt;
  font-weight: bold;
}
.follow_button {
  font-size: 2em;
}
.follow_table_row {

}








